/*TOPの文字の色*/
#intro .intro-body .brand-heading {
    color: #ffffff;
    text-shadow: none;
}

/* Home Section */
/*#intro {
	display: table;
	width: 100%;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../../img/dubai.jpg) no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    position: relative;
    height:100%;
}
#intro::before{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}*/

.intro-check{
	font-size: 40px;
}
.brand-heading{
	font-size: 55px;
}

#about h1{
  text-align: center;
  margin: 0 0 100px 0;
}

#about{
  padding: 60px 0 0 0;
}


/* Services Section -------------------------------------------------------------*/
/*#services {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	background: url(../../img/aus.jpg) no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  position: relative;
  z-index:-5;
}
#services::before{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  z-index:-1;
}*/


#services {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  background: none;
  background-color: #f6f6f6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
  /*z-index:-5;*/
}

#services::before{
  /*background-color: rgba(0,0,0,0.0);*/
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  z-index:-1;
}


#services h2{
  color: #555;
}
#services h3{
  color: #555;
}



/*Send-----------------------------------------------------------------------------*/
#works {
    padding: 20px 0 100px 0;
    /* background: #f6f6f6; */
}







/*Sendボタン-----------------------------------------------------------------------*/
.btn-lg2{
	margin: 50px 60px;
}

.alert {
     margin: 20px 0 0 0;
}

.form-control {
    /*color: #999;*/
    margin-bottom: 10px;
}


/*「×（adminTOPへ戻る）」ボタン-----------------------------------------------------*/
.close {
    float: right;
    margin-right: 30px;
    font-size: 21px;
    /*font-weight: bold;*/
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}








