#works {
	padding: 20px 0;
}
.btn-default {
    background: #00cc99;
    width: 150px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #f6f6f6;
	background-color: #00947a;
}
#about {
	padding: 100px 0 0 0;
	/*background: #fff;*/
}

#about p {
	font-size: 25px;
}

#contact {
	background:#fff;
}

.btn2 {
	float: right;
}



#question p {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: left;
}

#question p{
    border: 3px solid #82636b;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    margin: 2em 0;
    padding: 1.5em;
}

h2 {
	padding-top: 50px;
}

.row {
	text-align: center;
}

.text-center {
	font-size: 65px;
	margin-top: 50px;
}



#style {
    padding: 0;
}

#country {
    padding-top: 0px;
}




/* 国画像のサイズ */
.country-photo {
  height: 110px;
  width: 165px;
}



/*buttonのdivを作成-------------------------------------------------*/
#button .text-center {
    margin-top: 0;
}

#button{
	background: #f6f6f6;
}













