label {
	font-size: 18px;
}

label.add-question-text{
	font-size: 18px;
}

.form-group{
	display: block;
}

.questions {
	padding-top: 30px;
}

.each-quetion {
	text-align: left;
}

#add-question {
    padding: 140px 0;
    background: #e6e6e6;
}

#country-name {
	text-align: center;
	padding-top: 10px;
}

input {
	display: inline;
}

hr {
	background: #00cc99;
}

ul.cat li {
	/*display: inline-block;*/
	/*ALL,Asia..ボタンが重ならないように追加*/
	height: 50px;
}

ol.type li a.active {
	color: #f6f6f6;
	border: 1px solid #00cc99;
	background: #00cc99;
}
ol.type li a:hover {
	color: #f6f6f6;
	border: 1px solid #00947a;
	background: #00947a;
}