/*背景画像固定用*/
body, html, body {
    /* important */
    height: 100%;
}

/*nav .container{
    box-sizing: border-box;
}

nav{
  box-sizing: border-box;
}
*/

/*メリットの下の文*/
p {
	font-size: 15px;
}

/*.testimonials p{
	font-size: 25px;
	font-weight: 600;
}*/

hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	/*background: #E75926;*/
	background: #00cc99;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}

.navbar-custom .navbar-brand i.fa {
	color: #00cc99;
}

/*.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
	background-color: #00cc99;
	color: #ffffff;
}*/

.navbar-custom .nav li a:hover {
	outline: 0;
	color: #00cc99;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #00cc99;
}

/* Home Section --------------------------------------------------------------*/
#intro {
	display: table;
	/*width: 100%;*/
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../img/elnido.jpg) no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;

	background-size: cover;
	position: relative;
	height:100%;
}

.bg::before{
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.30);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}


#intro .intro-body H1 {
	/*font-size: 76px;*/
	font-size: 90px;
	font-weight: 700;
	/*color: rgba(255,255,255,0.8);*/
	color: #ffffff;
	text-transform: uppercase;
	margin-top: -25px;
}

/*TOPの文字の色*/
#intro .intro-body .brand-heading {
    color: #ffffff;
    text-shadow: none;
}

#intro .intro-body .intro-text {
	font-size: 25px;
	letter-spacing: 1px;
	margin-bottom: 80px;
	color: rgba(255,255,255,0.9);
}

.btn-default {
	color: #f6f6f6;
	background: #00cc99;
	border: 0;
	padding: 12px 24px;
	margin: 0 15px;
	font-size: 18px;
	transition: all 0.5s;
	width: 110px;
}

/*#intro .btn {
	background: #00cc99;
}*/

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #f6f6f6;
	background-color: #00947a;
}
.section-title.center {
	padding: 0 0;
}


#about .about-text {
	margin-left: 10px;
	text-align: center;
}
/*#about H4 {
	font-size: 30px;
}*/

#about p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 23px;
}

/* Services Section ------------------------------------------------------------------*/

/*背景一緒に動くver*/
/*#services {
	padding: 140px 0 90px 0;
	background: url(../../img/aus.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
    position: relative;
    height:100%;
}*/

#services {
  /*background: none;*/
  padding: 0 0 0 0;
}
/*背景を固定させた*/
#services .overlay {
  background: url(../img/country/hawaii.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #ddd;
  padding: 140px 0 90px 0;
  position: relative;
  height:100%;
}

/*#services::before{*/
.overlay::before{
  /* 透過した黒を重ねる */
  background-color: rgba(0,0,0,0.5);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
.box{
  position: relative;
  /*width: 100%;*/
  text-align: center;
  margin-bottom: 50px;
}
/*h1,p{
  color: #fff;

}*/

h3{
	line-height: 30px;
	margin-bottom: 20px;
}

#services i.fa {
    font-size: 50px;
    margin-bottom: 20px;
    transition: all 0.5s;
    color: #fff;
    width: 100px;
    height: 100px;
    padding: 25px 0;
    background: #00cc99;
    border-radius: 50%;
    /*position: relative;*/
}
/*#services .fa {
	position: absolute;
	top: 10px;
	right: 10px;
}*/
#services p {
	color: rgb(255,255,255);
	font-weight: 600;
	margin-top: 10px;
}

ul.cat li {
	/*display: inline-block;*/
	/*ALL,Asia..ボタンが重ならないように追加*/
	height: 50px;
}

ol.type li a.active {
	color: #f6f6f6;
	border: 1px solid #00cc99;
	background: #00cc99;
}
ol.type li a:hover {
	color: #f6f6f6;
	border: 1px solid #00947a;
	background: #00947a;
}

/* 国画像のサイズを固定 */
.country-photo {
  height: 176px;
  width: 265px;
}

/*ご利用の流れ4STEP（四角い箱のみバージョン）----------------------------------------------------*/
.msr_flow04 {
  /*color: #333333;*/
  color: #777;
  counter-reset: section;
  /*list-style: none;
  overflow: hidden;*/
  margin: 0 auto;
}
.msr_flow04 li {
  background:#FFFFFF;
  border-top:1px solid #ffffff;
  border-left:1px solid #ffffff;
  border-bottom:1px solid #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*color: #333333;*/
  color: #777;
  display: inline-block;
  font-size: 18px;
  height:300px;
  margin: 5px 10px;
  min-width: 250px;
  padding: 18px 0 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  float: left;
  z-index:1;
}
.msr_flow04 li span{
  padding:0 0 4px
  font-weight:900;
  margin-bottom: 10px;
}

.msr_flow04 li:before {
  color:white;
  content:counters(section, ".") " ";
  counter-increment: section;
  font-size:32px;
  left:8px;
  line-height:1;
  margin:-16px 0 0;
  position:absolute;
  top:50%;
}

/*アイコンの箱の中の位置を指定した*/
.msr_flow04 i {
  position: absolute;
  top: 30px;
  left: 75px;
}
/*アイコンの大きさなど*/
#testimonials i.fa {
    font-size: 95px;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: all 0.5s;
    color: #00cc99;
    width: 100px;
    height: 100px;
    padding: 30px 0;
    /*background: #00cc99;*/
    border-radius: 50%;
}

/*pの位置を指定*/
.msr_flow04 p {
  margin-top: 90px;
  margin-left: -5px;
}

.fa-calendar-check-o:before {
    content: "\f274";
    margin-left: 5px;
}








/* Team Section ------------------------------------------------------------------------*/
#team {
	/*padding: 140px 0;*/
	padding: 130px 0 80px 0;
	background: #e6e6e6;
}
img.img-thumbnail.team-img {
	width: 200px;
	height: 200px;
	border: 0;
	border-radius: 50%;
	background-color: #f6f6f6;
}

/* Testimonials Section -----------------------------------------------------------------*/

/*背景一緒に動くver*/
/*#testimonials {
  background: url(../../img/newzealand.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #ddd;
  padding: 140px 0 90px 0;
  position: relative;
  height:100%;
}*/

#testimonials {
  /*background: none;*/
  padding: 0 0 0 0;
}
/*背景を固定させた*/
#testimonials .overlay {
	background: url(../img/country/newzealand.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #ddd;
	padding: 140px 0 90px 0;
	position: relative;
  height:100%;
}
/*#testimonials::before{*/
.overlay::before{
  /* 透過した黒を重ねる */
  background-color: rgba(0,0,0,0.5);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
.box{
  position: relative;
  /*width: 100%;*/
  text-align: center;
  margin-bottom: 50px;
}
/*h1,p{
  color: #fff;

}*/


#testimonials h2 {
	color: #f6f6f6;
}
#testimonials blockquote {
	position: relative;
	margin-top: 20px;
	border: 0;
	text-align: center;
	color: #ffffff;
}

#testimonials ul{
  display: inline-block;
}


/* Contact Section ----------------------------------------------------*/
#contact {
	/*padding: 120px 0 40px 0;*/
	background: #f6f6f6;
}
#contact i.fa {
	font-size: 22px;
	color: #ffffff;
	margin-bottom: 5px;
}

#contact .btn-default {
	background: #00cc99;
	border: 0;
	border-radius: 4px;
	padding: 10px 20px;
	color: #f6f6f6;
	margin-top: 15px;
	font-size: 15px;
}
#contact .btn-default:hover, #contact .btn-default:focus {
	color: #f6f6f6;
	background: #00947a;
}

#contact .social ul {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 24px;
	padding-top: 8px;
	color: #00cc99;
	border-radius: 4px;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #00947a;
}


/* Footer Section------------------------------------*/
#footer {
	background: #333;
	color: #777;
	padding: 20px 0;
	text-align: center;
}
#footer a {
	color: #999999;
}
#footer a:hover, a:focus {
	color: #00cc99;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
}

/*to-topのフローティングボタン--------------------------*/
#to-top{
	position: fixed;
	bottom: 7px;
	right: 7px;
	background-color: rgba(0,0,0,0.4);
	box-sizing: border-box;
	color: white;
}

#footer .btn-dark {
	color: #fff;
}


@media(min-width:768px) {
#intro {
	height: 100%;
	padding: 0;
}

@media (max-width: 768px) {
.hover-bg .hover-text {
	padding: 20%;
}
}

@media (max-width: 640px) {
#intro .intro-body H1 {
	font-size: 5em;
}
}
