#works {
	padding: 20px 0;
}
.btn-default {
	margin: 0 20px;
}

#about {
	padding: 20px 0;
	background: #fff;
}

#contact {
	background:#fff;
}

.btn2 {
	float: right;
}




h2 {
	padding-top: 50px;
}

.box30 {
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    height: 275px;
}
.box30 .box-title {
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    height: 50px;
  	line-height: 45px;
}
.box30 p {
    padding: 15px 20px;
    margin: 0;
}

.logo {
	font-size: 100px;
	color: #20b2aa
}


.row {
	text-align: center;
}

.mypage {
	text-align: center;
	font-size: 60px;
	margin-top: 50px;
	margin-bottom: 50px;
}

/* 国画像のサイズ */
.country-photo {
  height: 110px;
  width: 165px;
}

#country-name {
	text-align: center;
	padding-top: 10px;
}

/*ボタンの色を緑に変更*/
.btn-default {
  color: #f6f6f6;
  background: #00cc99;
  border: 0;
  padding: 12px 14px;
  margin: 40px 20px;
  font-size: 18px;
  transition: all 0.5s;
  width: 140px;
  text-align: center;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #f6f6f6;
  background-color: #00947a;
}

hr {
	background: #00cc99;
}

ul.cat li {
	/*display: inline-block;*/
	/*ALL,Asia..ボタンが重ならないように追加*/
	height: 50px;
}

ol.type li a.active {
	color: #f6f6f6;
	border: 1px solid #00cc99;
	background: #00cc99;
}
ol.type li a:hover {
	color: #f6f6f6;
	border: 1px solid #00947a;
	background: #00947a;
}

.style-photo {
  height: 110px;
  width: 260px;
}

.logout{
	margin-top: -18px;
    margin-bottom: 10px;
}

.navbar-brand img {
  display: inline;
}

/*ヘッダーロゴのクリック時の色----------------------------------*/
/* Navigation */
.navbar-custom .navbar-brand i.fa {
  color: #00cc99;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #00cc99;
  color: #ffffff;
}
.navbar-custom .nav li a:hover {
  outline: 0;
  color: #00cc99;
  background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
  color: #00cc99;
}
.navbar-custom .navbar-brand:focus {
  outline: 0;
  color: #00cc99;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
  color: #00cc99;
}

