#works {
	padding: 20px 0;
}
.btn-default {
	
	margin: 0 80px;
}

#about {
	padding: 20px 0;
	background: #fff;
}

#contact {
	background:#fff;
}

.btn2 {
	float: right;
}



/*#question p {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: left;
}

#question p{
    border: 3px solid #82636b;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    margin: 2em 0;
    padding: 1.5em;
}
*/
h2 {
	padding-top: 50px;
}

.box30 {
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    height: 275px;
}
.box30 .box-title {
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    height: 50px;
  	line-height: 45px;
}
.box30 p {
    padding: 15px 20px;
    margin: 0;
}
/*
.box1 {
	background-color: #40e0d0;
}
.box2 {
	background-color: #ff6347;
}
.box3 {
	background-color: #4169e1;
}
.box4 {
	background-color:#ffc0cb;
}
.box5 {
	background-color: #7cfc00;
}
.box6 {
	background-color: #1e90ff;
}
.box7 {
	background-color: #ff0000;
}
.box8 {
	background-color:#ffc0cb;
}
*/
.logo {
	font-size: 100px;
	color: #20b2aa
}

/*.money {
	font-size: 100px;
    color: #20b2aa;
}

.home {
	font-size: 100px;
    color: #20b2aa;
}

.diamond {
	font-size: 100px;
    color: #20b2aa;
}

.diamond {
	font-size: 100px;
    color: #20b2aa;
}*/

.row {
	text-align: center;
}