#works {
	padding: 20px 0;
}
.btn-default {
	margin: 0 20px;
}

#about {
	padding: 100px 0 20px 0;
	background:#f6f6f6;
}
#contact {
	background:#f6f6f6;
}
#style {
	background:#f6f6f6;
}
#country {
	background:#f6f6f6;
}
#question {
	background:#f6f6f6;
}

.btn2 {
	float: right;
}



/*#question p {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: left;
}

#question p{
    border: 3px solid #82636b;
    border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
    margin: 2em 0;
    padding: 1.5em;
}
*/
h2 {
	padding-top: 50px;
}

.box30 {
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    height: 275px;
}
.box30 .box-title {
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    height: 50px;
  	line-height: 45px;
}
.box30 p {
    padding: 15px 20px;
    margin: 0;
}
/*
.box1 {
	background-color: #40e0d0;
}
.box2 {
	background-color: #ff6347;
}
.box3 {
	background-color: #4169e1;
}
.box4 {
	background-color:#ffc0cb;
}
.box5 {
	background-color: #7cfc00;
}
.box6 {
	background-color: #1e90ff;
}
.box7 {
	background-color: #ff0000;
}
.box8 {
	background-color:#ffc0cb;
}
*/
.logo {
	font-size: 100px;
	color: #20b2aa
}

/*.money {
	font-size: 100px;
    color: #20b2aa;
}

.home {
	font-size: 100px;
    color: #20b2aa;
}

.diamond {
	font-size: 100px;
    color: #20b2aa;
}

.diamond {
	font-size: 100px;
    color: #20b2aa;
}*/

.row {
	text-align: center;
}

.mypage {
	text-align: center;
	font-size: 60px;
	margin-top: 50px;
	margin-bottom: 50px;
}
h1.mypage{
    font-size: 76px;
    font-weight: 700;
    color: #777;
    text-transform: uppercase;
}

/* 国画像のサイズ */
.country-photo {
  height: 110px;
  width: 165px;
}

#country-name {
	text-align: center;
	padding-top: 10px;
}

/*ボタンの色を緑に変更*/
.btn-default {
  color: #f6f6f6;
  background: #00cc99;
  border: 0;
  padding: 12px 14px;
  margin: 40px 20px;
  font-size: 18px;
  transition: all 0.5s;
  width: 150px;
  text-align: center;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #f6f6f6;
  background-color: #00947a;
}

hr {
	background: #00cc99;
}

ul.cat li {
	/*display: inline-block;*/
	/*ALL,Asia..ボタンが重ならないように追加*/
	height: 50px;
}

ol.type li a.active {
	color: #f6f6f6;
	border: 1px solid #00cc99;
	background: #00cc99;
}
ol.type li a:hover {
	color: #f6f6f6;
	border: 1px solid #00947a;
	background: #00947a;
}

.style-photo {
  height: 110px;
  width: 260px;
}

.logout{
	margin-top: -18px;
    margin-bottom: 10px;
}