
#style {
	padding: 100px 0;
	background: #f6f6f6;
}
#country {
	padding: 30px 0;
	background: #f6f6f6;
}

/* Additional */
#country-name {
	text-align: center;
	padding-top: 10px;
}

.centering {
	text-align: center;
}

.float {
	display: float;
}

.input-group {
	padding: 5px 0;
}

.agree {
	padding-top: 30px;
}

.img-margin {
	margin: 0;
}

hr .account-have {
	margin: 0;
}

/* boostrap.cssへの変更*/

.btn-clear {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-clear:hover,
.btn-clear:focus,
.btn-clear.focus,
.btn-clear:active,
.btn-clear.active,
.open > .dropdown-toggle.btn-clear {
  color: #333;
  border-color: #adadad;
}
.btn-clear:active,
.btn-clear.active,
.open > .dropdown-toggle.btn-clear {
  background-image: none;
}
.btn-clear.disabled,
.btn-cleart[disabled],
fieldset[disabled] .btn-clear,
.btn-clear.disabled:hover,
.btn-clear[disabled]:hover,
fieldset[disabled] .btn-clear:hover,
.btn-clear.disabled:focus,
.btn-clear[disabled]:focus,
fieldset[disabled] .btn-clear:focus,
.btn-clear.disabled.focus,
.btn-clear[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-clear.disabled:active,
.btn-clear[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-clear.disabled.active,
.btn-clear[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-clear .badge {
  color: #fff;
}


/*トップ画像をエルニドに変更*/
.bg{
  background: url(../img/elnido.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  height:100%;
}

.bg::before{
  /* 透過した黒を重ねる */
  background-color: rgba(0,0,0,0.5);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
.box{
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

h1,p{
  color: #fff;

}

/*ボタンの色を緑に変更*/
.btn-default {
  background: #00cc99;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  background-color: #00947a;
}