/* style.cssへの変更*/

#style {
	padding: 100px 0;
	background: #f6f6f6;
}

#country {
	padding-top: 30px;
	padding-bottom: 50px;
	background: #f6f6f6;
}

.navbar-brand img {
	display: inline;
}

.navbar-logo {
	padding-bottom: -5px;
}

/* Additional */
#country-name {
	text-align: center;
	padding-top: 10px;
}

.centering {
	text-align: center;
}

.float {
	display: float;
}

.input-group {
	padding: 5px 0;
}

/*フォームの右側を明るい緑に変更*/
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: #00cc99;
    border-color: #00cc99;
}

.agree {
	padding-top: 30px;
}

img .header-logo {
	padding-bottom: -5px;
}

.img-margin {
	margin: 0;
}

hr .account-have {
	margin: 0;
}

.style-photo {
  height: 175px;
  width: 260px;
}

.style-photo-circle {
  height: 175px;
  width: 175px;
}

.country-photo {
  height: 110px;
  width: 165px;
}

/* 選択したスタイルや国のCSS変更用 */
.check{
	/*border: 5px solid #888;*/
}
.checked{
  border: 5px solid #00cc99;
}

.selected{
 border: 5px solid #00cc99;
}
.select{
 border: none;
}




/* boostrap.cssへの変更*/

.btn-clear {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-clear:hover,
.btn-clear:focus,
.btn-clear.focus,
.btn-clear:active,
.btn-clear.active,
.open > .dropdown-toggle.btn-clear {
  color: #333;
  border-color: #adadad;
}
.btn-clear:active,
.btn-clear.active,
.open > .dropdown-toggle.btn-clear {
  background-image: none;
}
.btn-clear.disabled,
.btn-cleart[disabled],
fieldset[disabled] .btn-clear,
.btn-clear.disabled:hover,
.btn-clear[disabled]:hover,
fieldset[disabled] .btn-clear:hover,
.btn-clear.disabled:focus,
.btn-clear[disabled]:focus,
fieldset[disabled] .btn-clear:focus,
.btn-clear.disabled.focus,
.btn-clear[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-clear.disabled:active,
.btn-clear[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-clear.disabled.active,
.btn-clear[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-clear .badge {
  color: #fff;
}



/*buttonのdivを作成-------------------------------------------------*/
#button{
  padding-top: 80px;
  padding-bottom: 80px;
}

/*スタイルと国画像のチェックboxを消す-----------------------------------*/
  input {
    display: none;
  }

  hr {
    background: #00cc99;
  }

  ul.cat li {
    /*display: inline-block;*/
    /*ALL,Asia..ボタンが重ならないように追加*/
    height: 50px;
  }

  ol.type li a.active {
    color: #f6f6f6;
    border: 1px solid #00cc99;
    background: #00cc99;
  }
  ol.type li a:hover {
    color: #f6f6f6;
    border: 1px solid #00947a;
    background: #00947a;
  }


.box {
    position: relative;
    margin: 180px 0;
}


/*ヘッダーロゴのクリック時の色----------------------------------*/
/* Navigation */
.navbar-custom .navbar-brand i.fa {
  color: #00cc99;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #00cc99;
  color: #ffffff;
}
.navbar-custom .nav li a:hover {
  outline: 0;
  color: #00cc99;
  background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
  color: #00cc99;
}
.navbar-custom .navbar-brand:focus {
  outline: 0;
  color: #00cc99;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
  color: #00cc99;
}













