ol {
  padding-left: 17px;
  list-style:decimal
}

li {
	padding-top: 15px;
}

p .term-intro {
	padding: 0;
}

.button-section {
	padding-top: 30px;
}

/*ボタンの色を緑に変更*/
.btn-default {
  color: #f6f6f6;
  background: #00cc99;
  border: 0;
  padding: 12px 24px;
  margin: 0 15px;
  font-size: 18px;
  transition: all 0.5s;
  width: 200px;
  text-align: center;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #f6f6f6;
  background-color: #00947a;
}