.bg{
  background: url(../img/elnido.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  height:100%;
}

.bg::before{
  /* 透過した黒を重ねる */
  background-color: rgba(0,0,0,0.5);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
.box{
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 150px 0 50px 0;
}

/*ボタンの色を緑に変更*/
.btn-default {
  color: #f6f6f6;
  background: #00cc99;
  border: 0;
  padding: 12px 24px;
  margin: 0 15px;
  font-size: 18px;
  transition: all 0.5s;
  width: 150px;
  text-align: center;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #f6f6f6;
  background-color: #00947a;
}